.tileContainer {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  margin: 5px 0px;
}

.tileContainer:first-child {
  margin-top: 0px;
}

.tileContainer:last-child {
  margin-bottom: 0px;
}

.tileImg {
  width: 100%
}
